scala-library-2.13.11.jar filter=lfs diff=lfs merge=lfs -text
snakeyaml-2.0.jar filter=lfs diff=lfs merge=lfs -text
classgraph-4.8.138.jar filter=lfs diff=lfs merge=lfs -text
checker-qual-3.33.0.jar filter=lfs diff=lfs merge=lfs -text
guava-32.0.1-jre.jar filter=lfs diff=lfs merge=lfs -text
jackson-datatype-jdk8-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-json-schema-provider-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-json-schema-serializer-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
kotlin-scripting-compiler-embeddable-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
joda-time-2.10.14.jar filter=lfs diff=lfs merge=lfs -text
commons-compress-1.26.1.jar filter=lfs diff=lfs merge=lfs -text
error_prone_annotations-2.18.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-json-serializer-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
kotlin-scripting-compiler-impl-embeddable-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
kotlin-stdlib-common-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
common-config-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
jackson-annotations-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
re2j-1.6.jar filter=lfs diff=lfs merge=lfs -text
annotations-13.0.jar filter=lfs diff=lfs merge=lfs -text
common-utils-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
j2objc-annotations-2.8.jar filter=lfs diff=lfs merge=lfs -text
jackson-module-parameter-names-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-connect-json-schema-converter-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-schema-registry-client-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
slf4j-api-1.7.36.jar filter=lfs diff=lfs merge=lfs -text
commons-logging-1.2.jar filter=lfs diff=lfs merge=lfs -text
json-sKema-0.18.0.jar filter=lfs diff=lfs merge=lfs -text
kotlin-scripting-common-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
validation-api-2.0.1.Final.jar filter=lfs diff=lfs merge=lfs -text
commons-lang3-3.12.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-schema-converter-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
kafka-schema-serializer-7.8.0.jar filter=lfs diff=lfs merge=lfs -text
mbknor-jackson-jsonschema_2.13-1.0.39.jar filter=lfs diff=lfs merge=lfs -text
commons-collections-3.2.2.jar filter=lfs diff=lfs merge=lfs -text
jackson-core-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
commons-codec-1.16.1.jar filter=lfs diff=lfs merge=lfs -text
jackson-datatype-jsr310-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
avro-1.11.4.jar filter=lfs diff=lfs merge=lfs -text
jsr305-3.0.2.jar filter=lfs diff=lfs merge=lfs -text
jackson-dataformat-csv-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
handy-uri-templates-2.1.8.jar filter=lfs diff=lfs merge=lfs -text
kotlin-script-runtime-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
kotlin-stdlib-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
swagger-annotations-2.1.10.jar filter=lfs diff=lfs merge=lfs -text
commons-io-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
jackson-databind-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar filter=lfs diff=lfs merge=lfs -text
commons-digester-2.1.jar filter=lfs diff=lfs merge=lfs -text
failureaccess-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
jackson-datatype-guava-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
jackson-datatype-joda-2.16.0.jar filter=lfs diff=lfs merge=lfs -text
json-20231013.jar filter=lfs diff=lfs merge=lfs -text
commons-validator-1.7.jar filter=lfs diff=lfs merge=lfs -text
everit-json-schema-1.14.3.jar filter=lfs diff=lfs merge=lfs -text
kotlin-scripting-jvm-1.9.10.jar filter=lfs diff=lfs merge=lfs -text
